<%- include('partials/header') %>
<main>
  <h1>Kuvatesti</h1>
  <p>
Anna kuvan kuvaus.
  </p>
  <form action="/kuva" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Valitse seuraavista</label>
      <select name="tyyli" class="form-select">
        <option value="line art">Viivakuva</option>
        <option value="photorealistic">Fotorealistinen</option>
        <option value="cartoon">Sarjakuva</option>
        <option value="3drender">3D</option>
        <option value="anime">Anime</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Kuvaus</label>
      <textarea class="form-control" id="kuvaus" name="kuvaus" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Lähetä</button>
  </form>
</main>
<%- include('partials/footer') %>
